<div class="container">
  <h1>Stupid Coaching</h1>
  <h4>Me: <%= params["question"] %></h4>
  <br>
  <h4>Coach: <%= @answer %></h4>
  <br><br>
  <%= link_to "Back to asking more questions!","ask"  %>
</div>